body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.loginBtn {
  margin: 1em;
}
.Gmap {
  width: 700px;
  height: 600px;
  float: left;
}
.TrailList {
  height: 600px;
  width: auto;
  overflow: auto;
}
.TrailListEntry {
  background-color: #4CAF50;
}
.content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

/*.content-wrap{
  overflow: hidden;
}*/

.col-wide{
  width: 65%;
  float: left;
  min-height: 175px;
}
.col-narrow{
  width: 35%;
  float: right;
  min-height: 175px;
}
.view-posts {
  float: right;
}
.trail-entry {
  margin: 5px;
}
.post {
  margin: 10px 0;
}

.trailTitle {
  text-align: center;
  color: white;
  padding-top: 0px;
  margin: 0;
  font-size: 3.5em;
  text-shadow: 5px 5px 3px #333333;
}

.rootWeather {
  display: 'flex';
  flex-wrap: 'nowrap';
  justify-content: 'space-around';
  overflow: auto;
  position: relative;
  top: 300px;
}

.gridListWeather {
  display: 'flex';
  flex-wrap: 'nowrap';
  overflow-X: 'auto';
  overflow: auto;
}

.titleStyleWeather {
  color: 'rgb(0, 188, 212)';
  text-align: center;
}

.weatherDetailPopup = {
  height: 4000;
  width: 100;
  margin: 20;
  text-align: 'center';
  display: 'inline-block';
};

.wundergroundimg = {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
}

a {
  color: #4CAF50;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #333333;
}

.bold {
  font-weight: bold;
}

.imagegallery = {
  margin-top: 40px;
}
